<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
    <title>Rate the song</title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>

  <body ng-app="myApp">
    


    <!-- Write code here -->  
    
    <div ng-controller="songCtrl" class="container">
      <div class="page-header">
        <h1>Rate the song <small>Like them all!</small></h1>
      </div>

      <!-- No songs message here -->

      <div class="alert alert-info" ng-if="!songs.length">
        <strong>First!</strong> You're the first one using this app. Make sure to add some songs to the list!
      </div>


      <!-- Write code here -->
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th>Song</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="song in songs track by $index">  
            <!-- track by for persistant localstore in HTML5 -->
            <td>
              <div class="pull-left">
                <strong>{{song.artist | titleize}}</strong><br />
                <small>{{song.title | titleize}}</small>
              </div>
              
            </td>
            <td>
              <div class="pull-right">
                <!-- <div rating score="song.score" max="5" class="pull-left"></div> -->
                <div class="rating">
                  <a ng-repeat="star in stars">
                    <i class="fa" ng-class="starClass(star, $index)"></i>
                  </a>
                </div>
                <button type="button" class="btn btn-danger pull-right" ng-click="deleteSong($index)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </div>

            </td>
          </tr>
        </tbody>
      </table>



      <form role="form" ng-submit="addSong(newSong.artist, newSong.title)">
        <div class="row">
          <div class="col-sm-5">
            <label class="sr-only" for="artist">Artist</label>
            <input type="text" class="form-control" name="artist" placeholder="Name of the artist, band, ..." 
        ng-model="newSong.artist" autofocus />
          </div>
          <div class="col-sm-5">
            <label class="sr-only" for="song">Song</label>
            <input type="text" class="form-control" name="song" placeholder="Enter the name of the song..." ng-model="newSong.title" />
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-default form-control" ng-disabled="isEmpty(newSong.title) || isEmpty(newSong.artist)">Add</button>
          </div>
        </div>
      </form>
      <br>
      <pre>{{songs | json}}</pre>
      <pre>{{newSong  | json}}</pre>

    </div>

    <!-- Scripts below -->  

    <!--script type="text/javascript" src="libs/angular/angular.min.js"></script -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"> </script>
    <script type="text/javascript" src="libs/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="libs/underscore.string/dist/underscore.string.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/controllers.js"></script>
    <script type="text/javascript" src="app/services.js"></script>
    <script type="text/javascript" src="app/filters.js"></script>
    <script type="text/javascript" src="app/directives.js"></script>
    
  </body>
</html>